# PlatformIO
.pio/                 
.vscode/.browse.c_cpp*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch/

# Espressif IDF
build/               
sdkconfig.old
sdkconfig.ci

# Python virtualenv (nếu có)
.venv/
env/
venv/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
